/* Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved. */
/* SPDX-License-Identifier: MIT-0 */

body {
    margin: 0;
    padding: 0;
    background-color: #DCDCDD;
}

.amplify-text {
    font-size: 1.25rem;
}